@import "../node_modules/bootstrap/scss/bootstrap";

@import "_variables";
@import "_mixins";
@import "_basics";
@import "_loading";

.main-nav {
  position: fixed;
  width: 100%;
  min-height: 7vh;
  z-index: 99;
  display: flex;
  // justify-content: space-around;
  align-items: center;

  background: $red;

  .nav-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px 0px;
  }

  .logoimg {
    max-height: 60px;
    max-height: 60px;
  }

  .burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 15px;

    .line {
      width: 25px;
      height: 3px;
      background: white;
      margin-top: 5px;
    }

    .line1 {
      margin-top: 0px;
    }

    &.close {
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -webkit-transition-delay: 0.6s;
      -o-transition-delay: 0.6s;
      transition-delay: 0.6s;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);

      opacity: 1;

      .line {
        -webkit-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
        transition-delay: 0.3s;
      }
      .line2 {
        width: 0;
      }

      .line1 {
        -webkit-transform: translateY(3px);
        -ms-transform: translateY(3px);
        -o-transform: translateY(3px);
        transform: translateY(3px);
      }

      .line3 {
        -webkit-transform: translateY(-13px) rotate(90deg);
        -ms-transform: translateY(-13px) rotate(90deg);
        -o-transform: translateY(-13px) rotate(90deg);
        transform: translateY(-13px) rotate(90deg);
      }
    }
  }

  .nav-list {
    // width: 50%;
    list-style-type: none;
    display: flex;
    // justify-content: space-around;
    align-items: center;
    margin-bottom: 0px;
    margin-left: 15px;
    flex: 1 1 0%;

    @include media-breakpoint-down(lg) {
      display: none;
    }

    li {
      margin: 0px 10px;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }

  .takespace {
    display: flex;
    flex: 1 1 0;
  }

  .langs-list {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
}

.side-bar {
  position: fixed;
  top: 80px;
  left: 0px;
  width: 300px;
  height: 90vh;
  background: $red;
  z-index: 9;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transition: transform 0.5s ease-in;
  -webkit-transition: transform 0.5s ease-in;
  -moz-transition: transform 0.5s ease-in;
  -ms-transition: transform 0.5s ease-in;
  -o-transition: transform 0.5s ease-in;

  .side-list {
    li {
      margin-top: 15px;
      text-align: left;
      padding-left: 50px;

      a {
        color: white;
        font-size: 20px;
        text-decoration: none !important;
      }
    }
  }
}

.side-active {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}

.homeContainer {
  width: 100%;
  // min-height: 100vh;
  background: $red;
  padding: 100px 0px 50px 0px;
  @include h1h5();
  img {
    margin-top: -20px;
  }

  h1 {
    color: $white;
    font-size: 2em;
    margin-top: 20px;
    font-weight: bolder;
  }
}

.services {
  position: relative;
  background: $white;

  .title-absolut-row {
    width: 100%;
    min-height: 40px;
    position: absolute;
    top: -30px;
    @include fx-center(row);

    .title {
      padding: 15px 0px;
      min-width: 240px;
      color: white;
      background: #2980b9;
      border: 8px white solid;
      border-radius: 60px;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      display: block;
    }
  }

  .pref {
    padding-top: 50px;

    .heading {
      width: 100%;
      color: $red;
      @include txt-center();
    }

    .description {
      @include txt-center();
      color: $black;
    }

    @include h1h5();
  }

  .service-cards {
    @include cardproperities();
  }
}

.domainSearch {
  padding: 50px 0px;
  border-top: 2px solid $red;
  border-bottom: 2px solid $red;
  @include mt50();

  .title,
  .sub-title {
    color: $blue;
    font-weight: 600;
  }

  .sub-title {
    margin-top: 10px;
    font-size: 1.3em;
  }

  .price {
    color: $red;
    margin-top: 15px;
  }

  .searchgroup {
    display: flex;

    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
    }

    .search {
      min-width: 300px;
      border-radius: 50px;
      text-align: center;
      outline: none !important;
      box-shadow: none !important;
      min-height: 50px;
      border: 2px solid $blue;
      color: $blue;
    }

    .btns {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      @include media-breakpoint-down(sm) {
        width: 100%;
        margin-top: 10px;
      }

      .btn {
        margin-left: 5px;
        border-radius: 50px;
        /* padding: 8px 18px; */
        /* font-size: 20px; */
        font-weight: bold;
        width: 125px;
        height: 50px;
      }

      .btn-primary {
        background: $blue;
        @include nonBorder();
      }
      .btn-danger {
        background: $red;
        @include nonBorder();
      }
    }
  }
}

.hostingPlans {
  .main-section {
    margin-top: 50px;
    padding: 15px 0 50px 0px;
    background: $blue;
    border-radius: 50px;

    .title {
      font-weight: bold;
    }

    .title,
    .sub-title {
      color: white;
    }

    .sub-title {
      margin-top: 10px;
      font-size: 1.15em;
      font-weight: bold;
      line-height: 1.4;
    }

    img {
      max-width: 80%;
    }
    .nav-tabs {
      margin-top: 10px;
      border: none !important;

      .nav-item {
        background: $white;
        color: $black;
        border-radius: 50px;
        padding: 5px 15px;
        margin: 5px 5px;
        border: none !important;
      }

      > .active {
        background: $red;
        color: $white;
      }
    }

    .tab-content {
      width: 100%;
      padding-top: 25px;
      @include cardproperities();

      .tab-pane.fade {
        transition: all 2s;
        transform: translateY(2rem);
        -webkit-transition: all 2s;
        -moz-transition: all 2s;
        -ms-transition: all 2s;
        -o-transition: all 2s;
        -webkit-transform: translateY(2rem);
        -moz-transform: translateY(2rem);
        -ms-transform: translateY(2rem);
        -o-transform: translateY(2rem);
      }

      .tab-pane.fade.show {
        transform: translateY(0rem);
      }

      //       @keyframes slide-down {
      //         0% {
      //           opacity: 0;
      //           transform: translateY(20%);
      //           -webkit-transform: translateY(20%);
      //           -moz-transform: translateY(20%);
      //           -ms-transform: translateY(20%);
      //           -o-transform: translateY(20%);
      // }

      //         100% {
      //           opacity: 1;
      //           transform: translateY(0);
      //           -webkit-transform: translateY(0);
      //           -moz-transform: translateY(0);
      //           -ms-transform: translateY(0);
      //           -o-transform: translateY(0);
      // }
      //       }

      .custom-card {
        display: flex;
        flex-direction: column;

        .title,
        .sub-title {
          text-align: center;
          color: $black;
        }

        .title {
          font-weight: bold;
        }

        .sub-title {
          font-weight: normal;
        }

        .list {
          padding: 15px 10px;
          margin-left: 15px;
          ul {
            list-style: none;

            li {
              color: $black;
              position: relative;
              margin-top: 15px;
              font-size: 0.79em;
              font-weight: bold;

              &::after {
                content: "";
                background: $blue;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                position: absolute;
                top: 6px;
                left: -20px;
              }
            }
          }
        }

        .price {
          text-align: center;
          color: $blue;
          font-weight: bold;
          margin-top: auto;
          font-size: 1.8em;
        }
        .btn {
          border: 1px solid $blue;
          color: $blue;
          background: $white;
          width: auto;
          padding: 8px 10px;
          margin-top: 10px;
          font-weight: bold;
          border-radius: 25px;
          -webkit-border-radius: 25px;
          -moz-border-radius: 25px;
          -ms-border-radius: 25px;
          -o-border-radius: 25px;
        }

        &:hover,
        &.active {
          transition: 0.5s;
          transform: scale(1.1) translateY(-0.2);
          -webkit-transform: scale(1.1) translateY(-0.2);
          -moz-transform: scale(1.1) translateY(-0.2);
          -ms-transform: scale(1.1) translateY(-0.2);
          -o-transform: scale(1.1) translateY(-0.2);
          background: $red !important;

          .list ul li {
            &::after {
              content: "";
              background: $white;
            }
          }
          .title,
          .sub-title,
          .list ul li,
          .price {
            color: white;
          }

          .btn {
            border: none;
            color: $red;
            &:hover {
              background: white !important;
              color: $red !important;
            }
          }
        }
      }
    }

    // .custom-card {
    //     margin-top: 10px;
    // }
  }
}

.emailPlans {
  @extend .hostingPlans;

  .main-section {
    background: $red;

    .nav-tabs {
      margin-top: 10px;
      border: none !important;

      > .active {
        background: $blue;
      }
    }

    .row-card {
      width: 100%;
      background: $white;
      border-radius: 50px;
      padding: 2em 1em;

      .title {
        color: $red;
      }

      .sub-title {
        color: black;
        font-weight: 400;
      }

      .centered-border {
        position: relative;

        &::after {
          content: "";
          width: 1px;
          height: 100%;
          background: #707070;
          opacity: 0.5;
          position: absolute;
          right: 0px;
          top: 0px;

          @include media-breakpoint-down(lg) {
            display: none;
          }
        }
      }

      .list {
        padding: 15px 10px;

        ul {
          list-style: none;

          li {
            color: $black;
            position: relative;
            margin-top: 10px;
            // font-size: 0.9em;
            font-weight: bold;

            &::after {
              content: "";
              background: $red;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              position: absolute;
              top: calc(50% - 4px);
              left: -20px;
            }
          }
        }
      }

      .price {
        text-align: center;
        color: $blue;
        font-weight: bold;
        margin-top: auto;
        font-size: 1.5em;
        span {
          font-size: 0.5em;
        }
      }

      .fx-center {
        flex-direction: row;
      }

      .plus-minuis {
        width: 40px;
        height: 40px;
        background: $blue;
        border-radius: 50%;
        @include nonBorder();
        color: white;
        font-size: 30px;
        line-height: 30px;
        margin: 0px 2.5px;
      }

      .count {
        height: 40px;
        color: $blue;
        border: 2px solid $blue;
        border-radius: 50px;
        flex: 1 1 0;
        @include fx-center();
      }

      /*==================custom select*/

      .s-hidden {
        display: none;
        visibility: hidden;
        padding-right: 10px;
      }

      .select {
        cursor: pointer;
        display: inline-block;
        position: relative;
        font-size: 16px;
        color: #fff;
        width: 100%;
        height: 40px;
      }

      .styledSelect {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #fff;
        color: $blue;
        padding: 8px 15px;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        border: 2px solid $blue;
        border-radius: 50px;
        text-align: center;
        font-size: 0.8em;

        &::after {
          content: "";
          width: 0;
          height: 0;
          border: 7px solid transparent;
          border-color: $blue transparent transparent transparent;
          position: absolute;
          top: 16px;
          right: 10px;
        }

        &:active,
        &.active {
          background-color: #fff;
          border-bottom: 0px;
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;

          &::after {
            top: 9px;
            border-color: transparent transparent #fff transparent;
          }
        }
      }

      .options {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 999;
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: #fff;
        color: $blue;
        border: $blue solid 2px;
        text-align: center;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        overflow: hidden;

        li {
          margin: 0;
          padding: 12px 0;
          text-indent: 15px;
          /*border-top: 1px solid #962d22;*/
          -moz-transition: all 0.15s ease-in;
          -o-transition: all 0.15s ease-in;
          -webkit-transition: all 0.15s ease-in;
          transition: all 0.15s ease-in;
          font-size: 0.8em;

          &:hover {
            color: white;
            background: $blue;
          }

          &[rel="hide"] {
            display: none;
          }
        }
      }

      .packages-contanier {
        margin-top: 50px;
        background: $blue;
        border-radius: 100px;
        padding: 25px 0px;
        width: 100%;
        flex-direction: column;

        .btn {
          min-width: 200px;
          min-height: 40px;
          background: $red;
          border-radius: 50px;
          color: $white;
        }
      }
    }
  }
}

.webservices {
  @extend .hostingPlans;
  .tab-content {
    .tab-pane {
      .custom-card {
        .title {
          color: $blue;
        }
        .list {
          ul {
            li {
              &::after {
                background: $red;
              }
            }
          }
        }
      }
    }
  }
}

.portfolio {
  @extend .emailPlans;

  .portfolio-img-container {
    max-height: 250px;
    border-radius: 20px;
    overflow: hidden;
  }

  .carousel-indicators {
    bottom: -60px;

    li {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $blue;
    }
  }
}

.getInTouch {
  margin-top: 50px;
  .left-side {
    .img {
      width: 100%;
      max-width: 200px;
    }

    @include media-breakpoint-down(sm) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
  }

  // .img{
  //     width: 100%;
  //     max-width: 200px;

  // }
  .touchlink {
    text-align: center;
    font-size: 12px;
  }

  .btn {
    width: 100%;
    min-height: 40px;
    border: 2px solid $blue;
    color: $blue;
    text-align: center;
    border-radius: 50px;
    margin-top: 10px;
  }
}

/*=========================================================================*/
.lb-outerContainer {
  width: 90% !important;
  min-height: 400px !important;
  height: 90vh !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

.lb-image {
  width: 100% !important;
  height: auto !important;
}

.lightboxOverlay {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

.containOverLay {
  width: 100%;
  height: 100%;
  position: relative;
}

.lightbox {
  top: 0px !important;
  left: 0px !important;
  position: fixed !important;
}

.card-img-container {
  max-height: 188px !important;
  overflow: hidden;
}

/*=========================================================================*/

.custom-card {
  border-radius: 50px;
  padding: 2em 1em 1em 1em;

  // margin-top: 30px;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.map {
  margin-top: 50px;
}

.fs-2em {
  font-size: 2em;
}
// reusable code

// 01111381188
// 01067321799

.hostplan2,
.hostplan3 {
  min-height: 450px;
}
.portfolio-img-container {
  a {
    width: 100% !important;
    img {
      width: 100% !important;
      max-width: 100% !important;
    }
  }
}
.c-blue-imp {
  color: $blue;
}
// .website {
//   min-height: 600px;
//   @media (min-width: 992px) and (max-width: 1200px) {
//     min-height: 680px;
//   }
//   // @include media-breakpoint-down(md){
//   //   height: auto;
//   // }
// }
.container {
  max-width: 90%;
  @include media-breakpoint-down(md) {
    max-width: 96%;
  }
}

// .container{
//   max-width: 90%;
// }
// @media (max-width: 991.98px)
// {
//   .container {
//     max-width: 96%;
// }
// }

.container404 {
  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  .heading {
    font-size: 2em;
    margin-bottom: 0px;
  }
  small {
    font-size: 0.7em;
  }
  .image404 {
    margin-top: 20px;
  }
  .backToHome404 {
    width: 150px;
    margin: auto;
    font-size: 0.8em;
    display: block;
    color: white;
    background: $blue;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
}
